<!DOCTYPE html>
<html>
<head>
	<title>Events</title>

	<script src="https://use.fontawesome.com/da7663fed7.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

	<script type="text/javascript" src="../js/scripts.js"></script>

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      			<ul class="nav navbar-nav">
        			<li><a href="mypage.html">My Page</a></li>
        			<li><a href="about.html">About</a></li>
        			<li><a href="programs.html">Programs</a></li>
        			<a class="navbar-brand" href="../index.html">
        				<img id="nav-logo" class=".image-responsive" alt="Logo" src="../images/logo.png">
        			</a>
        			<li><a href="photos.html">Photos</a></li>
        			<li><a href="videos.html">Videos</a></li>
        			<li><a href="contact.html">Contact</a></li>
        			<li><a href="events.html">Events</a></li>
        		</ul>
        	</div>
		</nav>
	
		<div class="col-md-12" id="events-outer">
			<div class="col-md-6">
  				<div class="eventstitle">Upcoming Events</div>
	  				<ul>
	  					<li>Event</li>
	  					<li>Event</li>
	  				</ul>
	  			<div class="eventstitle"><a href="contact.html">Contact us to RSVP</a></div>
			</div>
			<div class="col-md-6" id="calendar-container">
				<iframe src="https://calendar.google.com/calendar/embed?src=a14nhcb9o14tnhosf54cmdjchg%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="450" height="380" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>
	
	<nav class="navbar navbar-default navbar-fixed-bottom">
  		<div class="container">
    		<ul class="nav navbar-nav">
    			<li><a href="https://twitter.com/ritkd"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    			<li><a href="https://www.facebook.com/GrandmasterHongsTaekwondo/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    			<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    			<li><p class="navbar-text">5955 Post Road &#8226; North Kingstown, RI &#8226; 02852 </p></li>
    			<li><a href="mailto:hongsritkd@gmail.com">hongsritkd@gmail.com</a></li>
    		</ul>
  		</div>
	</nav>

	<script type="text/javascript" src="../js/googleMaps.js"></script>
</body>
</html>