<!DOCTYPE html>
<html>
<head>
	<title>Photos</title>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="../stylesheets/lightbox/css/lightbox.min.css">

	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

</head>
<body>
	<div class="container">
		<nav class="navbar navbar-default navbar-static-top">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      		<ul class="nav navbar-nav">
	        		<li><a href="mypage.html">My Page</a></li>
	        		<li><a href="about.html">About</a></li>
	        		<li><a href="programs.html">Programs</a></li>
	        		<a class="navbar-brand" href="../index.html">
	        			<img id="nav-logo" class=".image-responsive" alt="Logo" src="../images/logo.png">
	        		</a>
	        		<li><a href="photos.html">Photos</a></li>
	        		<li><a href="videos.html">Videos</a></li>
	        		<li><a href="contact.html">Contact</a></li>
	        		<li><a href="events.html">Events</a></li>
	        	</ul>
	        </div>
		</nav>

		<div class="row" id="row1">
			<div class="col-md-3">
				<a class="thumblinks" href="../images/blackbelt.jpg" data-lightbox="example-set" data-title="Blackbelt"><img class="imgview" src="../images/blackbelt.jpg" alt="Blackbelt"/></a>
				<div class="imgcaption">Blackbelt</div>
			</div>
			<div class="col-md-3">	
				<a class="thumblinks" href="../images/breaking.jpg" data-lightbox="example-set" data-title="Breaking"><img class="imgview" src="../images/breaking.jpg" alt="Blackbelt"/></a>
				<div class="imgcaption">Breaking</div>
			</div>
			<div class="col-md-6">
				<div class="mediatitle">Our studio in action</div>
			</div>
		</div>
		<div class="row" id="row2">
			<div class="col-md-3">
				<a class="thumblinks" href="../images/bbelttest.jpg" data-lightbox="example-set" data-title="Blackbest Test"><img class="imgview" src="../images/bbelttest.jpg" alt="Blackbest Test"/></a>
				<div class="imgcaption">Black Belt Test</div>
			</div>
			<div class="col-md-3">
				<a class="thumblinks" href="../images/sparring.jpg" data-lightbox="example-set" data-title="Sparring"><img class="imgview" src="../images/sparring.jpg" alt="Sparring"/></a>
				<div class="imgcaption">Sparring</div>
			</div>
			<div class="col-md-3">
				<a class="thumblinks" href="../images/memday.jpg" data-lightbox="example-set" data-title="Memorial Day"><img class="imgview" src="../images/memday.jpg" alt="Memorial Day"/></a>
				<div class="imgcaption">Memorial Day</div>
			</div>
		</div>

		<nav class="navbar navbar-default navbar-fixed-bottom">
	  		<div class="container">
	    		<ul class="nav navbar-nav">
	    			<li><a href="https://twitter.com/ritkd"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	    			<li><a href="https://www.facebook.com/GrandmasterHongsTaekwondo/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
	    			<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	    			<li><p class="navbar-text">5955 Post Road &#8226; North Kingstown, RI &#8226; 02852 </p></li>
	    			<li><a href="mailto:hongsritkd@gmail.com">hongsritkd@gmail.com</a></li>
	    		</ul>
	  		</div>
		</nav>	

	</div>

	<script src="https://use.fontawesome.com/da7663fed7.js"></script>

	<script src="../stylesheets/lightbox/js/lightbox-plus-jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="../js/scripts.js" type="text/JavaScript"></script>


</body>
</html>