<!DOCTYPE html>
<html>
<head>
	<title>Programs</title>

	<script src="https://use.fontawesome.com/da7663fed7.js"></script>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

	<script type="text/javascript" src="../js/scripts.js"></script>
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default navbar-static-top">
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      		<ul class="nav navbar-nav">
        		<li><a href="mypage.html">My Page</a></li>
        		<li><a href="about.html">About</a></li>
        		<li><a href="programs.html">Programs</a></li>
        		<a class="navbar-brand" href="../index.html">
        			<img id="nav-logo" class=".image-responsive" alt="Logo" src="../images/logo.png">
        		</a>
        		<li><a href="photos.html">Photos</a></li>
        		<li><a href="videos.html">Videos</a></li>
        		<li><a href="contact.html">Contact</a></li>
        		<li><a href="events.html">Events</a></li>
        	</ul>
        </div>
	</nav>


	<div class="col-md-3">
		<div class="programoption" id="familyclicker">
			<h1>Family</h1>
			<img class='thumbnail' src='http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/publicImages/b1.jpg'>
		</div>
	</div>
	<div class="col-md-3">
		<div class="programoption" id="childclicker">
			<h1>Children</h1>
			<img class='thumbnail' class="thumbnail" src='http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/publicImages/b2.jpg'>
		</div>
	</div>
	<div class="col-md-3">
		<div class="programoption" id="teenclicker">
			<h1>Teens</h1>
			<img class='thumbnail' src='http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/publicImages/b3.jpg'>
		</div>
	</div>
	<div class="col-md-3">
		<div class="programoption" id="adultclicker">
			<h1>Adults</h1>
			<img class='thumbnail' src='http://az12497.vo.msecnd.net/12d7b87c10024ddc87777b1ad49fbc75/publicImages/b4.jpg'>
		</div>
	</div>
	<div class="col-md-9">
		<div id="programstitle">Programs for everybody</div>
<!--Start of child section-->
		<div class="program-body" id="childbody">
			<h2>Your child will...</h2>
			<ul>
				<li>Become more fit, energetic, and active</li>
				<li>Learn the importance of treating others with respect</li>
				<li>Learn the value of self-control and the power of cooperation</li>
				<li>Gain the ability to set and achieve goals</li>
				<li>Learn to persevere and not give up when faced with challenges</li>
			</ul>

			<div>As a student of Taekwondo, your child will experience more than just self-defense. They will experience self-improvement. Virtually every area of their life can be affected in a positive way through Taekwondo training. Taekwondo will improve your child’s fitness, increase their self-esteem, and sharpen their focus in such a powerful way that it will benefit them throughout their life.
			</div>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
				    	<h4 class="panel-title">
				    	<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				    	At what age can children start?
				    	</a>
				    	</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
				    	<div class="panel-body">
				        	Our experience has shown that children ages four and up will be able to take the greatest advantage from Tae Kwon Do classes. Starting at age four, your child can participate in our trial lesson program, which allows our instructors to work with them one on one and evaluate their readiness for group classes. Our staff will then use their experience to recommend the best course of action for you and your child.
				    	</div>
				    </div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					    <h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					    Does Taekwondo increase aggressiveness?
					    </a>
					    </h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					    <div class="panel-body">
					        Absolutely not. Your child will be taught from the first lesson that true "Tae Kwon Do kids" never misuse their martial arts skills. Throughout their training, they will be reminded that being physically and mentally tough does not allow one to be tough with others. Instead, Tae Kwon Do students are expected to be humble, courteous, respectful and careful about when and where they practice their skills. The instructors at Master Chong's will continually educate your child that Tae Kwon Do is a form of exercise and self improvement, not a tool for bullying.
					    </div>
					</div>
				</div>

				
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
						<h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					    	How safe is it to learn?
					    </a>
					    </h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
						<div class="panel-body">
					    	Tae Kwon Do is safe and fun for students of all ages and physical abilities. Classes are taught by expert instructors as students are shown techniques in a step-by-step manner at their own pace. A thorough stretching routine, matted flooring, and protective safety equipment are all part of our commitment to ensuring student safety.
					    </div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFour">
					    <h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					        Our instructors make the difference
					    </a>
					    </h4>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				    	<div class="panel-body">
					    	Our instructors are experts at working with children. They know how to gain your child’s attention and keep them motivated by setting realistic step-by-step goals and encouraging them every step of the way. Every member of our staff will take a personal interest in your child and be committed to helping them achieve their potential. We also take it as a priority to serve as good role models. You can be assured that we will demonstrate the respect and character that we would like our students to embody. Our staff are patient, enthusiastic, and teach with a smile! We love what we do and are sure that you and your family will feel that in the classroom.
					    </div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingFive">
						<h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					    	Taekwondo is great for physical fitness
					    </a>
					    </h4>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
					    <div class="panel-body">
					    	Students enjoy training Taekwondo for years, not months. Every class is a complete workout designed to improve your flexibility, balance, endurance and strength. With regular training you will lose weight, gain muscle tone and improve your athletic performance for other sports.
					    </div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSix">
					    <h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					    	Taekwondo is perfect for
					    </a>
					    </h4>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
						<div class="panel-body">
					    	<ul>
				    			<li>Helping young children to develop coordination and balance</li>
				    			<li>Motivating sedentary children to participate in exercise</li>
				    			<li>Enhancing the strength of children with physical challenges</li>
				    			<li>Providing athletic children a way to become even more fit</li>
				    		</ul>
				    		<div>Our enthusiastic instructors and high-energy classroom make getting in shape fun and rewarding. Your child will look forward to coming to class and will want to attend regularly.</div>	
				    	</div>
				    </div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingSeven">
					    <h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
					        The focus gained at Taekwondo will
					    </a>
					    </h4>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
					    <div class="panel-body">
					    	<ul>
					    		<li>Help hyper-active kids to settle down</li>
					    		<li>Give children with Attention Deficit Disorder better concentration skills</li>
					    		<li>Enable students to improve their memory and study habits</li>
					    		<li>Boost Self-Esteem and Confidence</li>
					    	</ul>
					    	<div>
					    		Taekwondo will provide your child the challenges and the tools to overcome them. Using praise and positive feedback, our instructors encourage students and motivate effort. Our belt system gives students mini-goals to strive for and teaches kids the power of goal-setting.
					    	</div>	
					    </div>
					</div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEight">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
				        	The self-confidence gained in Taekwondo will enable your child to
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
				     	<div class="panel-body">
				    		<ul>
				    			<li>Overcome shyness</li>
				    			<li>Resist negative peer pressure</li>
				    			<li>Stand up to bullies and speak up for themselves</li>
				    			<li>Raise their hand in school and volunteer their opinion</li>
				    			<li>Be more comfortable with meeting new people</li>
				    		</ul>	
				    	</div>
				    </div>
				</div>


				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingNine">
					    <h4 class="panel-title">
					    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
					        Children improve listening skills, concentration, and grades
					    </a>
					    </h4>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
					    <div class="panel-body">
					       	Teachers and parents alike often notice a dramatic difference in children who study the martial arts. Teaching kids to stay focused is one of our specialties and the results are noticeable. Children listen better at home, handle homework and chores more efficiently, put more focus and effort into schoolwork, and receive better grades.
					    </div>
					</div>
				</div>
			</div> <!--close accordian group-->
		</div> <!--close program-body group-->

<!--end of child section-->

<!--Start of family section-->

		<div class="program-body" id="familybody">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOneFam">
				    	<h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneFam" aria-expanded="true" aria-controls="collapseOneFam">
				        	Can I take classes with my child?
				        </a>
				     	</h4>
				    </div>
				    <div id="collapseOneFam" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneFam">
				    	<div class="panel-body">
				        	Yes. In fact, many families are finding Tae Kwon Do to be the perfect family activity, combining an exciting workout with a new learning experience. You have your choice of attending children's and adults' classes individually or coming together to our Family Class. Either way you'll have a great time and create a special family bond.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwoFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoFam" aria-expanded="false" aria-controls="collapseTwoFam">
				          	Taekwondo will give you...
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseTwoFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoFam">
				      	<div class="panel-body">
				        	<ul>
					        	<li>A way to bring your family closer together</li>
					        	<li>A rewarding activity your whole family will enjoy</li>
					        	<li>A way to find exercise time for both you and your children</li>
					        	<li>A positive environment surrounded by motivated goal-setters</li>
				        	</ul>
				        	<div>
				        		It is unlikely that your child can attend a health club with you. And you would probably feel a little out of place if you joined in with your son or daughter's soccer team. Yet at Taekwondo, every family member can train together side by side, providing you with shared goals, quality family time, and an opportunity to meet a great group of friendly people. Of course, you'll also have a lot of fun as you improve your fitness, gain self-defense skills and learn the exciting martial art of Taekwondo. You can be confident that you and your family will be developing relationships with sincere, motivated, healthy families.
				        	</div>
				      	</div>
				    </div>
				</div>

				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThreeFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeFam" aria-expanded="false" aria-controls="collapseThreeFam">
				         	Family fitness
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseThreeFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeFam">
				    	<div class="panel-body">
				       		As a parent, you can set an invaluable example for your child about the importance of regular exercise. Taekwondo combines the best of several forms of physical training. Stretching and calisthenics will improve your flexibility and balance. Kicking drills and partner work will improve your endurance and timing, and the different forms and curriculum requirements will improve your strength and muscle tone. Taekwondo is a great chance to gain respect for each family member's abilities and an opportunity to learn from one another. Best of all, no two classes are alike. You and your children will appreciate the varied, high-energy workouts and be motivated to attend lessons often.
				      	</div>
				    </div>
				</div>

				  <div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFourFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourFam" aria-expanded="false" aria-controls="collapseFourFam">
				          	Spend quality time with your family
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseFourFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourFam">
				      	<div class="panel-body">
				       		The pursuit of Black Belt excellence is a worthwhile goal that will bring your family closer together. You will assist, coach and cheer one another on as you progress through the different requirements. You will also share the pride of seeing each family member advance and move on to a new belt. Many parents also appreciate the fact that Taekwondo is based on the principles of courtesy, respect, and cooperation. As a result of Taekwondo, children are more well-mannered and behave better at home. They also tend to get along with their siblings and treat household chores more responsibly. love what we do and are sure that you and your family will feel that in the classroom.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFiveFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveFam" aria-expanded="false" aria-controls="collapseFiveFam">
				          	Be among positive people and good role models
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseFiveFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiveFam">
				      	<div class="panel-body">
				       		As a parent, you are always aware of the places your child goes and the people that surround them. At Grand Master Hong's World Class Taekwondo Center, you can be confident that you and your family will be developing relationships with sincere, motivated, and healthy families. In addition to our regular classes, we also offer a full calendar of events designed to improve your martial arts experience and foster friendships among students and families. By providing a place to exercise, socialize, and network, Taekwondo can be a valuable resource to you and your family.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSixFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSixFam" aria-expanded="false" aria-controls="collapseSixFam">
				          	Enjoy our special events and activities
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseSixFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixFam">
				     	<div class="panel-body">
				    		<ul>
				    			<li>Annual Awards Banquet</li>
				    			<li>Summer Picnic</li>
				    			<li>World Class Championships</li>
				    			<li>Board Break-A-Thon for charity</li>
				    		</ul>
				    	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingSevenFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSevenFam" aria-expanded="false" aria-controls="collapseSevenFam">
				          	How safe is it to learn?
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseSevenFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSevenFam">
				     	<div class="panel-body">
				    			Tae Kwon Do is safe and fun for students of all ages and physical abilities. Classes are taught by expert instructors as students are shown techniques in a step-by-step manner at their own pace. A thorough stretching routine, matted flooring, and protective safety equipment are all part of our commitment to ensuring student safety.
				    	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingEightFam">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEightFam" aria-expanded="false" aria-controls="collapseEightFam">
				          	Our instructors make the difference
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseEightFam" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEightFam">
				     	<div class="panel-body">
				     		Our talented group of expert instructors will take the time to teach your family in a step-by-step fashion, guiding you with patience and enthusiasm. Our staff is always receptive to your questions and they will serve as success coaches on your way to Black Belt excellence.
				    	</div>
				    </div>
				</div>
			</div> <!--end of accordian group-->
		</div> <!--end of program-body gorup-->
<!--End of family section-->

<!--Beginning of teen section-->

		<div class="program-body" id="teenbody">
			<h2>Our workout is perfect for anyone who has...</h2>
				<ul>
					<li>Joined and quit a health club</li>
					<li>Tried to lose weight but is not interested in the gym scene</li>
					<li>Become bored of traditional exercise (lifting weights, running)</li>
					<li>Been looking for a new challenge</li>
				</ul>
				<div>
					The only way that any exercise program works is if you are able to stick with it. The reason most people drop their exercise routine, whether it's going to the gym or working out at home, is that they get bored. The monotony and repetition in traditional forms of exercise turns many people off after just a few months.
				</div>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOneTeen">
				      	<h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneTeen" aria-expanded="true" aria-controls="collapseOneTeen">
				        	What if I've never done it before or if I'm out of shape?
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseOneTeen" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneTeen">
				      	<div class="panel-body">
				        	At Grandmaster Hong's World Class Taekwondo, we have ongoing enrollment, so beginners are always welcome. Our special trial program makes it easy for new students of all fitness levels to get started. First time students receive one-on-one instruction designed to answer common questions and provide an introduction to the basics of Tae Kwon Do. In addition, the belt system used in Tae Kwon Do allows all students to train at their own pace and improve their physical condition gradually.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwoTeen">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoTeen" aria-expanded="false" aria-controls="collapseTwoTeen">
				          	Taekwondo classes are full of variety
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseTwoTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoTeen">
				      	<div class="panel-body">
				        	<h4>Through Taekwondo you will...</h4>
				        	<ul>
					        	<li>Improve your health</li>
					        	<li>Reduce your stress</li>
					        	<li>Increase your confidence</li>
					        	<li>Learn a highly effective form of self defense</li>
					        </ul>
				        	Students enjoy training Taekwondo for years, not months. Every class is a complete workout designed to improve your flexibility, balance, endurance and strength. With regular training you will lose weight, gain muscle tone and improve your athletic performance for other sports.
				      	</div>
				    </div>
				</div>

				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThreeTeen">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeTeen" aria-expanded="false" aria-controls="collapseThreeTeen">
				        	Learn powerful self-defense techniques
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseThreeTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeTeen">
				      	<div class="panel-body">
				       		As you practice Taekwondo you'll not only be improving your fitness level, but learning a highly effective form of self-defense as well. Taekwondo can provide you with the presence of mind, awareness, and physical readiness that will give you options in a confrontational situation. Criminals often seek out those who "look like a victim." Training in Taekwondo is also a preventive self-defense method. It will improve your physical condition, posture, eye contact, and awareness. By allowing you to carry yourself with an aura of strength and self-confidence, Taekwondo can help prevent a confrontation from ever happening.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFourTeen">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourTeen" aria-expanded="false" aria-controls="collapseFourTeen">
				        	How safe is it to learn?
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseFourTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourTeen">
				      	<div class="panel-body">
				       		Tae Kwon Do is safe and fun for students of all ages and physical abilities. Classes are taught by expert instructors as students are shown techniques in a step-by-step manner at their own pace. A thorough stretching routine, matted flooring, and protective safety equipment are all part of our commitment to ensuring student safety.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFiveTeen">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFiveTeen" aria-expanded="false" aria-controls="collapseFiveTeen">
				        	Our instructors make the difference
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseFiveTeen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFiveTeen">
				      	<div class="panel-body">
				       		Our talented group of expert instructors will take the time to teach you in a step-by-step fashion and guide you with patience and enthusiasm. They will always be receptive to your questions and serve as success coaches on your way to achieving Black Belt excellence. Our staff are not the only positive people you will find at our school. The students are as well. You are sure to find that Taekwondo students are among the most friendly, cooperative, and motivated people you've ever met. The friendly atmosphere in our school is just one more reason why you'll want to attend classes regularly. We promise that Taekwondo will be one of the best decisions you ever make.
				      	</div>
				    </div>
				</div>
			
			</div> <!--close accordian group-->
		</div><!--close program-body-->

<!--End of teen section-->

<!--Start of adult section-->

<div class="program-body" id="adultbody">
			<h2>Our workout is perfect for anyone who has...</h2>
				<ul>
					<li>Joined and quit a health club</li>
					<li>Tried to lose weight but is not interested in the gym scene</li>
					<li>Become bored of traditional exercise (lifting weights, running)</li>
					<li>Been looking for a new challenge</li>
				</ul>
				<div>
					The only way that any exercise program works is if you are able to stick with it. The reason most people drop their exercise routine, whether it's going to the gym or working out at home, is that they get bored. The monotony and repetition in traditional forms of exercise turns many people off after just a few months.
				</div>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOneAd">
				      	<h4 class="panel-title">
				        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOneAd" aria-expanded="true" aria-controls="collapseOneAd">
				        	Taekwondo classes are full of variety
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseOneAd" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOneAd">
				      	<div class="panel-body">
				        	Students enjoy training Taekwondo for years, not months. Every class is a complete workout designed to improve your flexibility, balance, endurance and strength. With regular training you will lose weight, gain muscle tone and improve your athletic performance for other sports.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingTwoAd">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwoAd" aria-expanded="false" aria-controls="collapseTwoAd">
				          	Through Taekwondo you will...
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseTwoAd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwoAd">
				      	<div class="panel-body">
				        	<h4>Through Taekwondo you will...</h4>
				        	<ul>
					        	<li>Improve your health</li>
					        	<li>Reduce your stress</li>
					        	<li>Increase your confidence</li>
					        	<li>Learn a highly effective form of self defense</li>
					        	<li>Positively affect every aspect of your life</li>
					        </ul>
				        	With cellular phones, faxes, and email you can probably be reached at anytime, anyplace. The result is more information, more to do, increased stress and decreased personal time. Martial artists enjoy the calm peace of mind that comes from controlling one's thoughts and actions. You can possess this same control and take charge of your stress. During your Taekwondo training, you will learn breathing and meditation techniques allowing you to slow down your frantic pace and gain a fresh perspective. Unlike traditional workouts that make you feel drained and exhausted, a Taekwondo workout will leave you feeling invigorated and energetic.
				      	</div>
				    </div>
				</div>

				
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingThreeAd">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThreeAd" aria-expanded="false" aria-controls="collapseThreeAd">
				        	Learn powerful self-defense techniques
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseThreeAd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThreeAd">
				      	<div class="panel-body">
				       		As you practice Taekwondo you'll not only be improving your fitness level, but learning a highly effective form of self-defense as well. Taekwondo can provide you with the presence of mind, awareness, and physical readiness that will give you options in a confrontational situation. Criminals often seek out those who "look like a victim." Training in Taekwondo is also a preventive self-defense method. It will improve your physical condition, posture, eye contact, and awareness. By allowing you to carry yourself with an aura of strength and self-confidence, Taekwondo can help prevent a confrontation from ever happening.
				      	</div>
				    </div>
				</div>

				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingFourAd">
				      	<h4 class="panel-title">
				        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFourAd" aria-expanded="false" aria-controls="collapseFourAd">
				        	Our instructors make the difference
				        </a>
				      	</h4>
				    </div>
				    <div id="collapseFourAd" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFourAd">
				      	<div class="panel-body">
				       		Our talented group of expert instructors will take the time to teach you in a step-by-step fashion and guide you with patience and enthusiasm. They will always be receptive to your questions and serve as success coaches on your way to achieving Black Belt excellence. Our staff are not the only positive people you will find at our school. The students are as well. You are sure to find that Taekwondo students are among the most friendly, cooperative, and motivated people you've ever met. The friendly atmosphere in our school is just one more reason why you'll want to attend classes regularly. We promise that Taekwondo will be one of the best decisions you ever make.
				      	</div>
				    </div>
				</div>

			
			</div> <!--close accordian group-->
		</div><!--close program-body-->

<!--End of adult section-->

	</div> <!--closes md-9 container-->
	
	<div class="col-md-3" id="programsidebar">
		<h1>The benefits of martial arts</h1>
		<ul>
				<li>Relaxation</li>
				<li>Balance</li>
				<li>Focus</li>
				<li>Speed</li>
				<li>Self-defense</li>
				<li>Flexibility</li>
				<li>Strength</li>
				<li>Stamina</li>
		</ul>
	</div>
	<nav class="navbar navbar-default navbar-fixed-bottom">
  		<div class="container">
    		<ul class="nav navbar-nav">
    			<li><a href="https://twitter.com/ritkd"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    			<li><a href="https://www.facebook.com/GrandmasterHongsTaekwondo/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
    			<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
    			<li><p class="navbar-text">5955 Post Road &#8226; North Kingstown, RI &#8226; 02852 </p></li>
    			<li><a href="mailto:hongsritkd@gmail.com">hongsritkd@gmail.com</a></li>
    		</ul>
  		</div>
	</nav>

</div>
</body>
</html>