<!DOCTYPE html>
<html>
<head>
    <title>Videos</title>

    <script src="https://use.fontawesome.com/da7663fed7.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    

    <link rel="stylesheet" type="text/css" href="../stylesheets/styles.css">

</head>
<body>
    <div class="container">
        
        <nav class="navbar navbar-default navbar-static-top">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="mypage.html">My Page</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="programs.html">Programs</a></li>
                    <a class="navbar-brand" href="../index.html">
                        <img id="nav-logo" class=".image-responsive" alt="Logo" src="../images/logo.png">
                    </a>
                    <li><a href="photos.html">Photos</a></li>
                    <li><a href="videos.html">Videos</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li><a href="events.html">Events</a></li>
                </ul>
            </div>
        </nav>
        <div class="row" id="row4">
            <div class="col-md-6">
                <div id="apparentlylink">
                    <a href="#apparentlykid" class="html5lightbox" id="apparentlypic" data-width=800 data-height=400 title="Apparently Kid"><img src="../images/apparently.png"></a>
                    <a href="#apparentlykid" class="html5lightbox" data-width=800 data-height=400><img id="apparentlyplay" src="../images/noplay.png"></a>
                </div>
                <div id="apparentlykid" style="display:none;">
                    <div class="lightboxcontainer">
                        <div class="lightboxleft">
                            <div class="divtext">
                                <div class="divtitle" style="font-size:16px;font-weight:bold;margin:12px 0px;">Apparently Kid
                                </div>
                                <div class="divdescription" style="font-size:14px;line-height:20px;">Here's a funny video.
                                </div>
                            </div>
                        </div>
                         <div class="lightboxright">

                            <iframe width="400" src="https://www.youtube.com/embed/rz5TGN7eUcM" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <div style="clear:both;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mediatitle">Our studio in action</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div id="beatlink">
                    <a href="#whenthebeat" class="html5lightbox" data-width=800 data-height=400><img src="../images/whenthebeat.png"></a>
                    <a href="#whenthebeat" class="html5lightbox" data-width=800 data-height=400><img src="../images/noplay.png" id="beatplay"></a>
                </div>
                <div id="whenthebeat" style="display:none;">
                    <div class="lightboxleft">
                        <div class="divtext">
                            <div class="divtitle">Video
                            </div>
                            <div class="divdescription">Here's another funny video.
                            </div>
                        </div>
                    </div>
                    <div class="lightboxright">

                        <iframe width="400" src="https://www.youtube.com/embed/Gi3yUmf07ac" frameborder="0" allowfullscreen></iframe>

                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="https://twitter.com/ritkd"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/GrandmasterHongsTaekwondo/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><p class="navbar-text">5955 Post Road &#8226; North Kingstown, RI &#8226; 02852 </p></li>
                    <li><a href="mailto:hongsritkd@gmail.com">hongsritkd@gmail.com</a></li>
                </ul>
            </div>
        </nav>

    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="../js/html5lightbox.js"></script>

    <script src="../js/scripts.js" type="text/JavaScript"></script>
</body>
</html>